.comment-form {
    margin-top: 8px;
}

.comment-form .form-label {
    margin: 0 0 6px 0;
    color: #666;
}

.comment-form .form-content > * {
    margin-bottom: 10px;
}

.comment-form .form-content > *:first-child {
    margin-top: 0px;
}

.comment-form .form-actions {
    display: flex;
    align-items: center;
    justify-content: end;
}